{% extends 'layout.html' %}

{% block css %}<link href="/stylesheets/game.css" rel="stylesheet">{% endblock %}

{% block body %}
	<div id="game-zone">
		<div id="side-zone" >
			<div id="time-zone">
				<span id="time">2:30</span>
			</div>
			<div id="score-zone" class="top-border">
				<ul id="playerlist">
					<li><span>tehCivilian:</span>3 points</li>
					<li class="drawer"><span>tehCivilian:</span>3 points</li>
					<li><span>tehCivilian:</span>3 points</li>
					<li><span>tehCivilian:</span>3 points</li>
				</ul>
			</div>
			<div id="chat-zone" class="top-border">
				<ul id="messages">
					<li><span>tehCivilian:</span>Putin mais tu dessines comme une merde sérieux !</li>
					<li><span>tehCivilian:</span>Ferme ta gueule, tu t'es pas vu déssiner ! lol</li>
					<li><span>tehCivilian:</span>lol</li>
					<li><span>tehCivilian:</span>lol</li>
				</ul>
				<form id="chat-input" onsubmit="sendMessage();return false">
						<input id="inputmsg" class="form-control" type="text">
						<button type="submit" class="btn btn-default">Send</button>
				</form>
			</div>
		</div>
		<div id="drawing-zone">
			<div id="drawing-header">
				<ul id="tools">
					<li id="pencil" class="selected"></li>
					<li id="eraser"></li>
				</ul>
				<ul id="sizes">
					<li id="s-small" class="button selected"></li>
					<li id="s-medium" class="button"></li>
					<li id="s-large" class="button"></li>
				</ul>
				<ul id="colors">
					<!-- 1ère ligne -->
					<li id="black" class="selected"></li>
					<li id="grey"></li>
					<li id="red"></li>
					<li id="brown"></li>
					<li id="skin"></li>
					<li id="orange"></li>
					<!-- 2ème ligne -->
					<li id="white"></li>
					<li id="yellow"></li>
					<li id="green"></li>
					<li id="blue"></li>
					<li id="purple"></li>
					<li id="pink"></li>
				</ul>
			</div>
			<canvas id="canvas" width="560", height="500"></canvas>
		</div>
		<div class="clearfix"></div>
	<script src="/javascripts/game.js"></script>
{% endblock %}