{% extends 'layout.html' %}

{% block body %}
	<div class="centered-container">
		<h1 class="text-center">Welcome to Pictionnary !</h1>

		<p>You probably want to <a class="btn btn-primary btn-sm" href="/register">register</a> or <a class="btn btn-primary btn-sm" href="/login">login</a>

		<h3>The rules</h3>
		<p>Pictionary is a guessing word game in wich a drawer is selected by the game. The drawer have to draw the word the game asked him to. The goal is that the other players have to guess the word before the time is over using what the drawer is drawing. Each time a player guess a word, the drawer and he wins 1 point. The first player who reach 10 points wins the game.</p>
	</div>
{% endblock %}