
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> -->

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body>
	<!-- Navigation header -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="wrapper">

		  <div class="navbar-header">
		    <a class="navbar-brand" href="/">Pictionary</a>
		  </div>
		  <!-- Links on the left -->
	  	<ul class="nav navbar-nav">
	      <li><a href="/">Home</a></li>
	      <li><a href="/ladder">Ladder</a></li>
	    </ul>
	    <!-- Links on the right -->
	    <ul class="nav navbar-nav navbar-right">
	      {% if user %}
		      <li><a href="/rooms">Rooms</a></li>
		      <li><a href="/profile">My profile</a></li>
		      <li><a href="/logout">Log out</a></li>
	      {% else %}
		      <li><a href="/login">Login</a></li>
		      <li><a href="/register">Register</a></li>
	      {% endif %}
	    </ul>

		  <div class="clearfix"></div>
	  </div>
	</nav>

	<!-- Wrap all page content here -->
	<div id="content">
	    <!-- Begin page content -->
	    <div class="wrapper">
	    	<div class="flash-messages">
	        {% for key, values in messages() %}
	            {% for message in values %}
	                {% if key == 'danger' || key == 'success' || key == 'info' || key == 'warning' %}
	                    <div class="alert alert-{{ key }} alert-dismissable">
	                {% elseif key == 'error' %}
	                    <div class="alert alert-danger alert-dismissable">
	                {% else %}
	                    <div class="alert alert-info alert-dismissable">
	                {% endif %}
	                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	                    {{message}}
	                </div>
	            {% endfor %}
	        {% endfor %}
	    </div>

	    {% block body %}{% endblock %}
	</div>

	<footer>
	    <div class="wrapper">
	    </div>
	</footer>

	<script src="/javascripts/bootstrap-without-jquery.min.js"></script>
</body>
</html>
